<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<div class="infinity-wrap">
  <div class="infinity-table">
      <div class="infinity-row"></div>
  </div>
</div>

<br>

<%= link_to 'New Patient', new_patient_path %>
